/* Type Colors */ 
$normal: #EDD7B8;
$fire: #ffa726;
$water: #42a5f5;
$electric: #ffee58;
$grass: #66bb6a;
$ice: #26c6da;
$fighting: #ef5350;
$poison: #ab47bc;
$ground: #ffca28;
$flying: #b388ff;
$psychic: #ec407a;
$bug: #d4e157;
$rock: #8d6e63;
$ghost: #7e57c2;
$dragon: #5c6bc0;
$dark: #555555;
$steel: #78909c;
$fairy: #f48fb1;

.Normal {
	background: $normal;
	color: #8D6E63;
}

.row.name.Normal {
	color: darken($normal, 25);
	background: transparent;
}

.Normal .pokemon-name {
	border-bottom: 2px solid darken($normal, 25);
}

.stats > table > tbody > tr.Normal.total {
	background: darken($normal, 25);
	color: #FFFFFF;
}

.type > .Normal {
	background: transparent;
	color: darken($normal, 25);
}

.Fire {
	background: $fire;
	color: #e65100;
}

.row.name.Fire {
	color: darken($fire, 25);
	background: transparent;
}

.Fire .pokemon-name {
	border-bottom: 2px solid darken($fire, 25);
}

.stats > table > tbody > tr.Fire.total {
	background: darken($fire, 25);
	color: #FFFFFF;
}

.type > .Fire {
	background: transparent;
	color: #E65100;
}
	
.Water {
	background: $water;
	color: #0d47a1;
}

.row.name.Water {
	color: darken($water, 25);
	background: transparent;
}

.Water .pokemon-name {
	border-bottom: 2px solid darken($water, 25);
}

.type > .Water {
	background: transparent;
	color: darken($water, 25);
}

.stats > table > tbody > tr.Water.total {
	background: darken($water, 25);
	color: #FFFFFF;
}

.Electric {
	background: #ffee58;
	color: #f57f17;
}

.row.name.Electric {
	color: darken($electric, 25);
	background: transparent;
}

.Electric .pokemon-name {
	border-bottom: 2px solid darken($electric, 25);
}

.stats > table > tbody > tr.Electric.total {
	background: darken($electric, 25);
	color: #FFFFFF;
}

.type > .Electric {
	background: transparent;
	color: darken($electric, 25);
}

.Grass {
	background: $grass;
	color: #1b5e20;
}

.row.name.Grass {
	color: darken($grass, 25);
	background: transparent;
}

.Grass .pokemon-name {
	border-bottom: 2px solid darken($grass, 25);
}

.stats > table > tbody > tr.Grass.total {
	background: darken($grass, 25);
	color: #FFFFFF;
}

.type > .Grass {
	background: transparent;
	color: $grass;
}

.row.section.Grass {
	background: lighten($grass, 25);
}

.Ice {
	background: $ice;
	color: #006064;
}

.row.name.Ice {
	color: darken($ice, 25);
	background: transparent;
}

.Ice .pokemon-name {
	border-bottom: 2px solid darken($ice, 25);
}

.stats > table > tbody > tr.Ice.total {
	background: darken($ice, 25);
	color: #FFFFFF;
}

.type > .Ice {
	background: transparent;
	color: darken($ice, 25);
}


.Fighting {
	background: $fighting;
	color: #ffcdd2;
}

.row.name.Fighting {
	color: $fighting;
	background: transparent;
}

.Fighting .pokemon-name {
	border-bottom: 2px solid $fighting;
}

.stats > table > tbody > tr.Fighting.total {
	background: darken($fighting, 25);
	color: #FFFFFF;
}

.type > .Fighting {
	background: transparent;
	color: $fighting;
}

.Poison {
	background: $poison;
	color: #e1bee7;
}

.row.name.Poison {
	color: $poison;
	background: transparent;
}

.Poison .pokemon-name {
	border-bottom: 2px solid $poison;
}

.stats > table > tbody > tr.Poison.total {
	background: darken($poison, 25);
	color: #FFFFFF;
}

.type > .Poison {
	background: transparent;
	color: $poison;
}

.Ground {
	background: $ground;
	color: #ff6f00;
}

.row.name.Ground {
	color: darken($ground, 25);
	background: transparent;
}

.Ground .pokemon-name {
	border-bottom: 2px solid darken($ground, 25);
}

.stats > table > tbody > tr.Ground.total {
	background: darken($ground, 25);
	color: #FFFFFF;
}

.type > .Ground {
	background: transparent;
	color: $ground;
}

.Flying {
	background: $flying;
	color: #ede7f6;
}

.row.name.Flying {
	color: darken($flying, 25);
	background: transparent;
}

.Flying .pokemon-name {
	border-bottom: 2px solid darken($flying, 25);
}

.stats > table > tbody > tr.Flying.total {
	background: darken($flying, 25);
	color: #FFFFFF;
}

.type > .Flying {
	background: transparent;
	color: $flying;
}

.Psychic {
	background: $psychic;
	color: #f8bbd0;
}

.row.name.Psychic {
	color: $psychic;
	background: transparent;
}

.Psychic .pokemon-name {
	border-bottom: 2px solid $psychic;
}

.stats > table > tbody > tr.Psychic.total {
	background: darken($psychic, 25);
	color: #FFFFFF;
}

.type > .Psychic {
	background: transparent;
	color: $psychic;
}

.Bug {
	background: $bug;
	color: #827717;
}

.row.name.Bug {
	color: darken($bug, 25);
	background: transparent;
}

.Bug .pokemon-name {
	border-bottom: 2px solid darken($bug, 25);
}

.stats > table > tbody > tr.Bug.total {
	background: darken($bug, 25);
	color: #FFFFFF;
}

.type > .Bug {
	background: transparent;
	color: darken($bug, 25);
}

.Rock {
	background: $rock;
	color: #d7ccc8;
}

.row.name.Rock {
	color:$rock;
	background: transparent;
}

.Rock .pokemon-name {
	border-bottom: 2px solid $rock;
}

.stats > table > tbody > tr.Rock.total {
	background: darken($rock, 25);
	color: #FFFFFF;
}

.type > .Rock {
	background: transparent;
	color: $rock;
}

.Ghost {
	background: $ghost;
	color: #d1c4e9;
}

.row.name.Ghost {
	color: $ghost;
	background: transparent;
}

.Ghost .pokemon-name {
	border-bottom: 2px solid $ghost;
}

.stats > table > tbody > tr.Ghost.total {
	background: darken($ghost, 25);
	color: #FFFFFF;
}

.type > .Ghost {
	background: transparent;
	color: $ghost;
}

.Dragon {
	background: $dragon;
	color: #c5cae9;
}

.row.name.Dragon {
	color: $dragon;
	background: transparent;
}

.Dragon .pokemon-name {
	border-bottom: 2px solid $dragon;
}

.stats > table > tbody > tr.Dragon.total {
	background: darken($dragon, 25);
	color: #FFFFFF;
}

.type > .Dragon {
	background: transparent;
	color: $dragon;
}

.Dark {
	background: $dark;
	color: #BABABA;
}

.row.name.Dark {
	color: darken($dark, 25);
	background: transparent;
}

.Dark .pokemon-name {
	border-bottom: 2px solid darken($dark, 25);
}

.stats > table > tbody > tr.Dark.total {
	background: darken($dark, 25);
	color: #FFFFFF;
}

.type > .Dark {
	background: transparent;
	color: $dark;
}

.Steel {
	background: $steel;
	color: #cfd8dc;
}

.row.name.Steel {
	color: darken($steel, 25);
	background: transparent;
}

.Stel .pokemon-name {
	border-bottom: 2px solid darken($steel, 25);
}

.row.name.Steel {
	color: $steel;
	background: transparent;
}

.Steel .pokemon-name {
	border-bottom: 2px solid $steel;
}

.stats > table > tbody > tr.Steel.total {
	background: darken($steel, 25);
	color: #FFFFFF;
}

.type > .Steel {
	background: transparent;
	color: $steel;
}

.Fairy {
	background: $fairy;
	color: #ad1457;
}

.row.name.Fairy {
	color: $fairy;
	background: transparent;
}

.Fairy .pokemon-name {
	border-bottom: 2px solid $fairy;
}

.stats > table > tbody > tr.Fairy.total {
	background: darken($fairy, 25);
	color: #FFFFFF;
}

.type > .Fairy {
	background: transparent;
	color: $fairy;
}
