/* Type Colors */ 
$normal: #EDD7B8;
$fire: #ffa726;
$water: #42a5f5;
$electric: #ffee58;
$grass: #66bb6a;
$ice: #26c6da;
$fighting: #ef5350;
$poison: #ab47bc;
$ground: #ffca28;
$flying: #b388ff;
$psychic: #ec407a;
$bug: #d4e157;
$rock: #8d6e63;
$ghost: #7e57c2;
$dragon: #5c6bc0;
$dark: #555555;
$steel: #78909c;
$fairy: #f48fb1;

/**************************
*
* Normal
*
***************************/

.Normal, .Normal a, .Normal a:hover, .chart.Normal div, .type > .Normal, 
.poke-cell .Normal, .chart-nav .Normal {
	background: $normal;
	color: #8D6E63;
}

a .Normal:hover {
	background: lighten($normal, 10);
}

.chart.Normal {
	background: transparent;
}

.row.name.Normal {
	color: #555555;
	background: transparent;
}

.poke-cell .Normal {
	padding: 2px;
}

.poke-cell.Normal > div {
	padding-bottom: 10px;
	border-bottom: 3px solid $normal;
}

/************************
*
* Fire
*
*************************/

.Fire, .Fire a, .Fire a:hover .chart.Fire div, .type > .Fire, .poke-cell .Fire {
	background: $fire;
	color: #e65100;
}

a .Fire:hover {
	background: lighten($fire, 10);
}

.chart.Fire {
	background: transparent;
}

.row.name.Fire {
	color: #555;
	background: transparent;
}

.poke-cell .Fire {
	padding: 2px;
}

.Fire.selected {
	border-bottom: 3px solid $fire;
}

/*************************
*
* Water
*
**************************/
	
.Water, .Water a, .Water a:hover, .chart.Water div, .type > .Water, .poke-cell .Water {
	background: $water;
	color: #0d47a1;
}

a .Water:hover {
	background: lighten($water, 10);
}

.chart.Water {
	background: transparent;
}

.row.name.Water {
	color: #555;
	background: transparent;
}

.poke-cell .Water {
	padding: 2px;
}

.Water.selected {
	border-bottom: 3px solid $water;
}

/****************************
*
* Electric
*
*****************************/
	
.Electric, .Electric a, .Electric a:hover, .chart.Electric div, .type > .Electric, .poke-cell .Electric {
	background: #ffee58;
	color: #f57f17;
}

a .Electric:hover {
	background: lighten($electric, 10);
}

.chart.Electric {
	background: transparent;
}

.row.name.Electric {
	color: #555555;
	background: transparent;
}

.poke-cell .Electric {
	padding: 2px;
}

.Electric.selected {
	border-bottom: 3px solid $electric;
}

/*************************
*
* Grass
*
**************************/

.Grass, .Grass a, .Grass a:hover, .chart.Grass div, .type > .Grass, .poke-cell .Grass {
	background: $grass;
	color: #1b5e20;
}

a .Grass:hover {
	background: lighten($grass, 10);
}

.chart.Grass {
	background: transparent;
}

.row.name.Grass {
	color: #555;
	background: transparent;
}

.poke-cell .Grass {
	padding: 2px;
}

.Grass.selected {
	border-bottom: 3px solid $grass;
}

/*********************
*
* Ice
*
**********************/

.Ice, .Ice a, .Ice a:hover, .chart.Ice div, .type > .Ice, .poke-cell .Ice {
	background: $ice;
	color: #006064;
}

a .Ice:hover {
	background: lighten($ice, 10);
}

.chart.Ice {
	background: transparent;
}

.row.name.Ice {
	color: #555;
	background: transparent;
}

.poke-cell .Ice {
	padding: 2px;
}

.Ice.selected {
	border-bottom: 3px solid $ice;
}

/**************************
*
* Fighting
*
***************************/

.Fighting, .Fighting a, .Fighting a:hover, .chart.Fighting div, .type > .Fighting, .poke-cell .Fighting {
	background: $fighting;
	color: #ffcdd2;
}

a .Fighting:hover {
	background: lighten($fighting, 10);
}

.chart.Fighting {
	background: transparent;
}

.row.name.Fighting {
	color: #555;
	background: transparent;
}

.type > .Fighting, .poke-cell .Fighting {
	padding: 2px;
}

.Fighting.selected {
	border-bottom: 3px solid $fighting;
}

/**********************
*
* Poison
*
**********************/

.Poison, .Poison a, .Poison a:hover, .chart.Poison div, .type > .Poison, .poke-cell .Poison {
	background: $poison;
	color: #e1bee7;
}

a .Poison:hover {
	background: lighten($poison, 10);
}

.chart.Poison {
	background: transparent;
}

.row.name.Poison {
	color: #555;
	background: transparent;
}

.poke-cell .Poison {
	padding: 2px;
}

.Poison.selected {
	border-bottom: 3px solid $poison;
}

/********************
*
* Ground
*
********************/

.Ground, .Ground a, .Ground a:hover, .chart.Ground div, .type > .Ground, .poke-cell .Ground  {
	background: $ground;
	color: #ff6f00;
}

a .Ground:hover {
	background: lighten($ground, 10);
}

.chart.Ground {
	background: transparent;
}

.row.name.Ground {
	color: #555;
	background: transparent;
}

.poke-cell .Ground {
	padding: 2px;
}

.Ground.selected {
	border-bottom: 3px solid $ground;
}

/*********************
*
* Flying
*
**********************/

.Flying, .Flying a, .Flying a:hover, .chart.Flying div, .type > .Flying, .poke-cell .Flying   {
	background: $flying;
	color: #ede7f6;
}

a .Flying:hover {
	background: lighten($flying, 10);
}

.chart.Flying {
	background: transparent;
}

.row.name.Flying {
	color: #555;
	background: transparent;
}

.poke-cell .Flying {
	padding: 2px;
}

.Flying.selected {
	border-bottom: 3px solid $flying;
}

/********************
*
* Psychic
*
*********************/
.Psychic, .Psychic a, .Psychic a:hover, .chart.Psychic div, .type > .Psychic, .poke-cell .Psychic {
	background: $psychic;
	color: #f8bbd0;
}

a .Psychic:hover {
	background: lighten($psychic, 10);
}

.chart.Psychic {
	background: transparent;
}

.row.name.Psychic {
	color: #555;
	background: transparent;
}

.poke-cell .Psychic {
	padding: 2px;
}

.Psychic.selected {
	border-bottom: 3px solid $psychic;
}


/**********************
*
* Bug
*
***********************/
.Bug, .Bug a, .Bug a:hover, .chart.Bug div, .type > .Bug, .poke-cell .Bug  {
	background: $bug;
	color: #827717;
}

a .Bug:hover {
	background: lighten($bug, 10);
}

.chart.Bug {
	background: transparent;
}

.row.name.Bug {
	color: #555;
	background: transparent;
}

.poke-cell .Bug {
	padding: 2px;
}

.Bug.selected {
	border-bottom: 3px solid $bug;
}

/***********************
*
* Rock
*
***********************/
.Rock, .Rock a, .Rock a:hover, .chart.Rock div, .row.name.Rock, .type > .Rock, .poke-cell .Rock {
	background: $rock;
	color: #d7ccc8;
}

a .Rock:hover {
	background: lighten($rock, 10);
}

.chart.Rock {
	background: transparent;
}

.row.name.Rock {
	color: #555;
	background: transparent;
}

.poke-cell .Rock {
	padding: 2px;
}

.Rock.selected {
	border-bottom: 3px solid $rock;
}

/*************************
*
* Ghost
*
**************************/
.Ghost, .Ghost a, .Ghost a:hover,.chart.Ghost div, .type > .Ghost, .poke-cell .Ghost {
	background: $ghost;
	color: #d1c4e9;
}

a .Ghost:hover {
	background: lighten($ghost, 10);
}

.chart.Ghost {
	background: transparent;
}

.row.name.Ghost {
	color: #555;
	background: transparent;
}

.poke-cell .Ghost {
	padding: 2px;
}

.Ghost.selected {
	border-bottom: 3px solid $ghost;
}

/********************
*
* Dragon
*
*********************/
.Dragon, .Dragon a, .Dragon a:hover, .chart.Dragon div, .type > .Dragon, .poke-cell .Dragon {
	background: $dragon;
	color: #c5cae9;
}

a .Dragon:hover {
	background: lighten($dragon, 10);
}

.chart.Dragon {
	background: transparent;
}

.row.name.Dragon {
	color: #555;
	background: transparent;
}

.poke-cell .Dragon {
	padding: 2px;	
}

.Dragon.selected {
	border-bottom: 3px solid $dragon;
}

/***********************
*
* Dark
*
***********************/
.Dark, .Dark a, .Dark a:hover, .chart.Dark div, .type > .Dark, .poke-cell .Dark {
	background: $dark;
	color: #BABABA;
}

a .Dark:hover {
	background: lighten($dark, 10);
}

.chart.Dark {
	background: transparent;
}

.row.name.Dark {
	color: #555;
	background: transparent;
}

.poke-cell .Dark {
	padding: 2px;
}

.Dark.selected {
	border-bottom: 3px solid $dark;
}

/**************************
*
* Steel
*
***************************/
.Steel, .Steel a, .Steel a:hover, .chart.Steel div, .type > .Steel, .poke-cell .Steel {
	background: $steel;
	color: #cfd8dc;
}

a .Steel:hover {
	background: lighten($steel, 10);
}

.chart.Steel {
	background: transparent;
}

.row.name.Steel {
	color: #555;
	background: transparent;
}

.poke-cell .Steel {
	padding: 2px;
}

.Steel.selected {
	border-bottom: 3px solid $steel;
}

/**********************
*
* Fairy
*
***********************/
.Fairy, .Fairy a, .Fairy a:hover, .chart.Fairy div, .type > .Fairy, .poke-cell .Fairy {
	background: $fairy;
	color: #ad1457;
}

a .Fairy:hover {
	background: lighten($fairy, 10);
}

.chart.Fairy {
	background: transparent;
}

.row.name.Fairy {
	color: #555;
	background: transparent;
}

.poke-cell .Fairy {
	padding: 2px;
}

.Fairy.selected {
	border-top: 3px solid $fairy;
}

