body {
	background: #DADFE1;
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background: #F44336;
	border-bottom: 10px solid #555555;
}

.jumbotron h1 {
	color: #FFFFFF;

}

.jumbotron h1 small {
	color: #FFCDD2;
	font-size: 40%;
}

.jumbotron p {
	color: #FFFFFF;
}

.jumbotron a, .jumbotron a:hover, .jumbotron a:focus {
	font-weight: bold;
	color: #FFFFFF;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0px;
}

.navbar-default {
	background: #D32F2F;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #FFCDD2;
}

.navbar-default .navbar-nav > .active > a {
	color: #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	background: #D32F2F;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover  {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
	border-bottom: 3px solid #FFFFFF;
}

.navbar-default .navbar-toggle {
	border-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover {
	background: #F44336;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #FFFFFF;
}

.loading-row div {
	float: none;
	margin: 0 auto;
}

.loading img {
	display: block;
	width: 50px;
	margin: 0 auto;
}