body {
	background: #DADFE1;
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background: #F44336;
	border-bottom: 10px solid #555555;
}

.jumbotron h1 {
	color: #FFFFFF;

}

.jumbotron h1 small {
	color: #FFCDD2;
	font-size: 40%;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0px;
}

.navbar-default {
	background: #D32F2F;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #FFCDD2;
}

.loading-row div {
	float: none;
	margin: 0 auto;
}

.loading img {
	display: block;
	width: 50px;
	margin: 0 auto;
}