.search-results {
	margin-top: 20px;
}

.panel-default {
	border: none;
}

.panel.panel-default.content {
	border-radius: 0px;
	background: #ffffff;
	/*box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.24), 0px 17px 50px 0px rgba(0, 0, 0, 0.19);*/
}

.pokemon-name {
	text-align: left;
	margin-left: 20px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.national-number {
	text-align: left;
	color: #555;
	width: 50%;
	margin-left: 20px;
	margin-top: 0px;
	border-top: 2px solid #555555;
	padding-top: 5px;
}

.type {
	text-align: center;
	font-size: 16px;
}

.type div {
	width: 70px;
	margin: 5px auto;
	padding: 5px;
}

.sprite {
	display: block;
	margin: 0 auto;
	height: 150px;
}

.type-defenses div {

	line-height: 1.5;
	text-align: center;
	padding: 2px;
}

.type-defenses div:last-child {
	margin-bottom: 15px;
}

.td-heading {
	background: transparent;
	color: #555555;
	margin-left: 20px;
	margin-bottom: 10px;


}

.captions {
	float:left;
}
.captions div {
	font-size: 12px;
	padding: 5px;
	margin: 5px;
	text-align: right;
}
.chart {
	float: left;
}
.chart div {
  font-size: 12px;
  background-color: #ffa726;
  text-align: right;
  padding: 5px 5px 5px 2px;
  margin: 5px;
  color: white;
}

.captions div:last-child {
	font-size: 14px;
	font-weight: bold;
}

@import 'type-colors';

.whole {
	background: #ffff8d;

}

.half {
	background: #ff5252;
}

.quarter {
	background: #d50000;
	color: #fff;	
}

.double {
	background: #69f0ae;
}

.quadruple {
	background: #00c853;
}

.zero {
	background: #555;
	color: #fff;
}