.row.search-results {
  margin-top: 20px; }

.panel-default {
  border: none; }

.panel.panel-default.content {
  border-radius: 0px;
  background: #ffffff;
  /*box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.24), 0px 17px 50px 0px rgba(0, 0, 0, 0.19);*/ }

.pokemon-name {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 95%; }

.national-number {
  text-align: left;
  color: #555;
  width: 50%;
  margin-left: 20px;
  margin-top: 0px;
  border-top: 2px solid #555555;
  padding-top: 5px; }

.type {
  text-align: center;
  font-size: 16px; }

.type div {
  width: 70px;
  margin: 5px auto;
  padding: 5px; }

.sprite {
  display: block;
  margin: 0 auto;
  height: 150px; }

.stats {
  margin-top: 15px; }

.stats > table {
  border-spacing: 0px 5px;
  border-collapse: separate;
  background: #eeeeee; }

.stats > table > tbody > tr > th, .stats > table > tbody > tr > td {
  border-top: none; }

.panel.stats > .table:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.panel.stats > .table:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

table > thead > tr > th {
  font-weight: normal; }

table > tbody > tr > th {
  font-weight: normal; }

table > tbody > tr > th.total, table > tbody > tr > td.total {
  background: #616161; }

.type-defenses div {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-align: center;
  padding: 2px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12); }

.type-defenses div:last-child {
  margin-bottom: 15px; }

.td-heading {
  background: transparent;
  color: #555555;
  margin-left: 20px;
  margin-bottom: 10px; }

.captions {
  float: left; }

.captions div {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  text-align: right; }

.chart {
  float: left; }

.chart div {
  font-size: 12px;
  background-color: #ffa726;
  text-align: right;
  padding: 5px 5px 5px 2px;
  margin: 5px;
  color: white; }

.captions div:last-child {
  font-size: 14px;
  font-weight: bold; }

/* Type Colors */
/**************************
*
* Normal
*
***************************/
.Normal, .chart.Normal div, .type > .Normal {
  background: #EDD7B8;
  color: #8D6E63; }

.chart.Normal {
  background: transparent; }

.row.name.Normal {
  color: #555555;
  background: transparent; }

/************************
*
* Fire
*
*************************/
.Fire, .chart.Fire div, .type > .Fire {
  background: #ffa726;
  color: #e65100; }

.chart.Fire {
  background: transparent; }

.row.name.Fire {
  color: #555;
  background: transparent; }

/*************************
*
* Water
*
**************************/
.Water, .chart.Water div, .type > .Water {
  background: #42a5f5;
  color: #0d47a1; }

.chart.Water {
  background: transparent; }

.row.name.Water {
  color: #555;
  background: transparent; }

/****************************
*
* Electric
*
*****************************/
.Electric, .chart.Electric div, .type > .Electric {
  background: #ffee58;
  color: #f57f17; }

.chart.Electric {
  background: transparent; }

.row.name.Electric {
  color: #555555;
  background: transparent; }

/*************************
*
* Grass
*
**************************/
.Grass, .chart.Grass div, .type > .Grass {
  background: #66bb6a;
  color: #1b5e20; }

.chart.Grass {
  background: transparent; }

.row.name.Grass {
  color: #555;
  background: transparent; }

/*********************
*
* Ice
*
**********************/
.Ice, .chart.Ice div, .type > .Ice {
  background: #26c6da;
  color: #006064; }

.chart.Ice {
  background: transparent; }

.row.name.Ice {
  color: #555;
  background: transparent; }

/**************************
*
* Fighting
*
***************************/
.Fighting, .chart.Fighting div, .type > .Fighting {
  background: #ef5350;
  color: #ffcdd2; }

.chart.Fighting {
  background: transparent; }

.row.name.Fighting {
  color: #555;
  background: transparent; }

/**********************
*
* Poison
*
**********************/
.Poison, .chart.Poison div, .type > .Poison {
  background: #ab47bc;
  color: #e1bee7; }

.chart.Poison {
  background: transparent; }

.row.name.Poison {
  color: #555;
  background: transparent; }

/********************
*
* Ground
*
********************/
.Ground, .chart.Ground div, .type > .Ground {
  background: #ffca28;
  color: #ff6f00; }

.chart.Ground {
  background: transparent; }

.row.name.Ground {
  color: #555;
  background: transparent; }

/*********************
*
* Flying
*
**********************/
.Flying, .chart.Flying div, .type > .Flying {
  background: #b388ff;
  color: #ede7f6; }

.chart.Flying {
  background: transparent; }

.row.name.Flying {
  color: #555;
  background: transparent; }

/********************
*
* Psychic
*
*********************/
.Psychic, .chart.Psychic div, .type > .Psychic {
  background: #ec407a;
  color: #f8bbd0; }

.chart.Psychic {
  background: transparent; }

.row.name.Psychic {
  color: #555;
  background: transparent; }

/**********************
*
* Bug
*
***********************/
.Bug, .chart.Bug div, .type > .Bug {
  background: #d4e157;
  color: #827717; }

.chart.Bug {
  background: transparent; }

.row.name.Bug {
  color: #555;
  background: transparent; }

/***********************
*
* Rock
*
***********************/
.Rock, .chart.Rock div, .row.name.Rock {
  background: #8d6e63;
  color: #d7ccc8; }

.chart.Rock {
  background: transparent; }

.row.name.Rock {
  color: #555;
  background: transparent; }

/*************************
*
* Ghost
*
**************************/
.Ghost, .chart.Ghost div, .type > .Ghost {
  background: #7e57c2;
  color: #d1c4e9; }

.chart.Ghost {
  background: transparent; }

.row.name.Ghost {
  color: #555;
  background: transparent; }

/********************
*
* Dragon
*
*********************/
.Dragon, .chart.Dragon div, .type > .Dragon {
  background: #5c6bc0;
  color: #c5cae9; }

.chart.Dragon {
  background: transparent; }

.row.name.Dragon {
  color: #555;
  background: transparent; }

/***********************
*
* Dark
*
***********************/
.Dark, .chart.Dark div, .type > .Dark {
  background: #555555;
  color: #BABABA; }

.chart.Dark {
  background: transparent; }

.row.name.Dark {
  color: #555;
  background: transparent; }

/**************************
*
* Steel
*
***************************/
.Steel, .chart.Steel div, .type > .Steel {
  background: #78909c;
  color: #cfd8dc; }

.chart.Steel {
  background: transparent; }

.row.name.Steel {
  color: #555;
  background: transparent; }

/*
*
* Fairy
*
*/
.Fairy, .chart.Fairy div, .type > .Fairy {
  background: #f48fb1;
  color: #ad1457; }

.chart.Fairy {
  background: transparent; }

.row.name.Fairy {
  color: #555;
  background: transparent; }

/*# sourceMappingURL=search.css.map */
