.search-results {
	margin-top: 20px;
}

.panel-default {
	border: none;
}

.panel.panel-default.content {
	border-radius: 0px;
	background: #ffffff;
	/*box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.24), 0px 17px 50px 0px rgba(0, 0, 0, 0.19);*/
}

.pokemon-name {
	text-align: left;
	color: #333;
}

.captions, p, .type-defenses {
	font-family: 'Open Sans', sans-serif;
}

.national-number {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: center;
	color: #888888;
}

.type {
	text-align: center;
	font-size: 16px;
}

.type div {
	margin: 5px auto;
	padding: 5px;
}

.type div a {
	color: inherit;
}

.type a {
	text-decoration: none;
}

.sprite {
	display: block;
	margin: 0 auto;
	width: 150px;
}

.stats-heading  h3 {
	border-bottom: 2px solid #333;
	padding-bottom: 10px;
}

.base-stat {
	text-align: left;
}

.type-defenses {
	margin-bottom: 10px;
	font-size: 11px;
}

.type-defenses div {

	line-height: 1.5;
	text-align: center;
	padding: 2px;
}

.type-defenses div:last-child {
	margin-bottom: 15px;
}

.td-heading {
	background: transparent;
	margin-bottom: 20px;
}

.td-heading h3 {
	margin-bottom: 10px;
}

.td-heading p {
	border-top: 2px solid #333;
	padding-top: 10px;
}

.captions {
	float:left;
	
}
.captions div {
	font-size: 12px;
	padding: 5px;
	padding-right: 0px;
	margin: 5px;
	margin-right: 2px;
	text-align: left;
}
.chart {
	float: left;
}
.chart div {
  font-size: 12px;
  background-color: #ffa726;
  text-align: right;
  padding: 5px 5px 5px 2px;
  margin: 5px;
}

.captions div:last-child {
	font-size: 16px;
	font-weight: bold;
}

@import 'type-colors';

.chart div:last-child {
	background: white;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	color: #000;
}

.whole {
	background: #ffffff;
	color: #999;
}

.half {
	background: #ff5252;
}

.quarter {
	background: #d50000;
	color: #fff;	
}

.double {
	background: #69f0ae;
}

.quadruple {
	background: #00c853;
}

.zero {
	background: #555;
	color: #fff;
}