@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  background: #ecf0f1;
}

h1 {
  color: #E74C3C;
}

h2 {
  color: #ecf0f1;
}

.team {
  background: #E74C3C;
  padding: 20px;
}

.team > .row {
  margin-bottom: 0px;
}

.panel {
  background: #ECF0F1;
}

.pokemon {
  background: #ecf0f1;
  padding: 20px 20px 0px 20px;
}

.search-form {
  display: none;
}

table {
  background: #FFFFFF;
  font-size: 12px;
}

td:first-child {
  color: #ECF0F1;
  background: #555555;
}

.team-data {
  display: none;
  background: #E74C3C;
  padding: 20px;
}

.description {
  display: none;
}

.description-none {
  margin-top: 65px;
}

.row {
  margin-bottom: 20px;
}

.sprite {
  background: url('/img/pokeball-icon.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.name {
  margin-bottom: 10px;
  font-size: 24px;
}

.typeA, .typeB {
  color: #777;
}

select.search-results {
  width: 150px;
}

.search-results, .select {
  margin-top: 10px;
}

#heatmap-defense, #heatmap-offense {
  margin: 0 auto;
}

.team-tab, .data-tab {
  color: #ecf0f1;
  font-size: 18px;
}

.data-tab {
  display: none;
}

.team-tab:hover, .data-tab:hover {
  cursor: pointer;
}

#show-team {
  display: none;
}

#show-data {
  display: none;
}

#hide-team, #show-team {
  margin-bottom: 0px;
}

.report-heading {
  color: #E74C3C;
}

h3.report-heading {
  margin-left: 20px;
}

.panel-report {
  padding: 10px;
}

.average {
  text-align: center;
  font-size: 16px;
}

.average p {
  font-size: 16px;
  margin-top: 25px;
}


.circle {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: 5px solid #555555;
  margin-top: 10px;
}

.caption {
  background: #FFFFFF;
}

#bar-graph {
  margin: 15px;
  padding-left: 20px;
}

#graph-total {
}

.app-description {

}